<form method="post" class="form-floating mt-4" action="{{ url_for('login') }}">
    {{ login_form.hidden_tag() }}
    <div class="form-floating mb-3">
        {{ login_form.username(class="form-control"+ (" is-invalid" if login_form.username.errors else ""), placeholder="Username") }}
        {{ login_form.username.label(class="form-label") }}
        {% for error in login_form.username.errors %}
            <div class="invalid-feedback" style="display:block;">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-floating mb-3">
        {{ login_form.password(class="form-control"+ (" is-invalid" if login_form.password.errors else ""), placeholder="Password") }}
        {{ login_form.password.label(class="form-label") }}
        {% for error in login_form.password.errors %}
            <div class="invalid-feedback" style="display:block;">{{ error }}</div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>