<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalTitle"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalTitle">Title TBD</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="confirmationModalBody">Message TBD</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-danger" id="confirmButton">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  // Display the ACTION confitmation modal
  function showConfirmationModal(action_url, title, message) {
    // Update the modal tittle and message
    document.getElementById("confirmationModalTitle").textContent = title;
    document.getElementById("confirmationModalBody").textContent = message;

    const confirmButton = document.getElementById("confirmButton");

    confirmButton.onclick = function () {
      fetch(action_url, { method: "POST" })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            displayFlashMessage(data.message, 'success');
            window.location.reload(); // or update the page content as needed
          } else {
            displayFlashMessage(data.message, 'danger');
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          displayFlashMessage('An unexpected error occurred', 'danger');
        });
    };

    // Show the modal
    var confirmationModal = new bootstrap.Modal(
      document.getElementById("confirmationModal")
    );
    confirmationModal.show();
  }

  function displayFlashMessage(message, type) {
    const alertDiv = document.createElement('div');
    alertDiv.className = `alert alert-${type} alert-dismissible fade show`;
    alertDiv.role = 'alert';
    alertDiv.innerHTML = `${message} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;

    document.body.prepend(alertDiv); // Adjust where the alert should be added in the DOM
    setTimeout(() => alertDiv.style.display = 'none', 5000); // Auto-dismiss after 5 seconds
  }
</script>