<div
class="modal fade"
id="itemModal"
tabindex="-1"
aria-labelledby="itemModalTitle"
aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemModalTitle">Title TBD</h5>
                <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                ></button>
                </div>
                <div class="modal-body">
                {% block item_form %}
                    {% include "forms/crud_form.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<script>
    // Display the modal based on the flag. 
    // Used when validation of the form fails to display the modal by default.
    // Sets the modal butons depending on the action clicked (ADD or EDIT)
    document.addEventListener('DOMContentLoaded', (event) => {
        {% if show_modal %}
            var itemModal = new bootstrap.Modal(document.getElementById('itemModal'));
            itemModal.show();
        {% endif %}
        // Update the modal buttons depending on the action clicked (ADD or EDIT)
        setupModalLabelsfor('{{ get_current_action(**params) }}');
    });
    
    // Setup the modal buttons for the ADD action
    document.getElementById("addBtn").addEventListener("click", (event) => {        
        setupModalLabelsfor('add');
    });

    // Setup the modal buttons for the EDIT action
    document.querySelectorAll(".edit-btn").forEach((item) => {
        item.addEventListener("click", (event) => {
            setupModalLabelsfor('edit');
        });
    });

    // Update the modal buttons depending on the action clicked (ADD or EDIT)
    function setupModalLabelsfor(action){
        if(action == 'edit'){
            document.getElementById("itemModalTitle").textContent = "Edit {{get_current_menu(**params).name}}";
            document.getElementById("itemModalSubmitButton").textContent = "Save Changes";
        }else if (action == 'add'){
            document.getElementById("itemModalTitle").textContent = "Add {{get_current_menu(**params).name}}";
            document.getElementById("itemModalSubmitButton").textContent = "Add New";
        }
    };
</script>