{% extends "base.html" %}

{% block css %}
{{ super() }}
<style>
  .clickable-icon {
    cursor: pointer;
  }
</style>
{% endblock %} 

{% block navbar %}
    {{ super() }}
    <div class="row mx-1">
        <div class="col">
            {% include "components/breadcrumb.html" %}
        </div>
    </div>
    <div class="d-flex justify-content-end mx-2">
        <button id="addBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#itemModal">
            Add Scope
        </button>
    </div>
{% endblock navbar %}

{% block modals %}
    {{ super() }}
{% endblock modals %}




