<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Welcome {% endblock %} - Projects Manager</title>
    
    {% block css %}
        <!-- Default Stylesheets -->
        {% include 'assets/css.html' %}
        <!-- Additional Stylesheets -->
    {% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='images/fav-big.ico') }}" type="image/x-icon">
</head>

<body data-bs-theme="{{ session.theme }}">
    {# {% include "components/devtools.html" %} #}
    <!-- Navigation Bar -->
    {% block navbar %}
        {% include 'components/navbar.html' %}
    {% endblock %}
    
    <!-- Flash messages -->
    {% include "components/flash.html" %}

    <!-- Main Content -->
    <main role="main" class="container">
        {% block content %}
        {% endblock %}
    </main>
        
    {% block modals %}
        <!-- Default Modals -->
        {# 
        <!-- Login Modal -->
        {% include 'modals/login_modal.html' %}
        <!-- Confirmation Modal --> 
        #}
        {% include "modals/confirmation_modal.html" %}
        <!-- Additional Modals -->
    {% endblock %}

    
    {% block footer %}
        <!-- Footer -->
        {% include 'components/footer.html' %}
    {% endblock %}

    {% block scripts %}
        <!-- Default Scripts -->
        {% include 'assets/scripts.html' %}
        <!-- Additional Scripts -->
    {% endblock %}
</body>

</html>