{% extends 'app.html' %}

{% block title %}Tasks{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row g-3 justify-content-center">
    {% for item, data_attrs in zip(items, items_data) %}
        <div class="col">
            <div class="card border-secondary" >
                <div class="card-header d-flex justify-content-between align-items-center">
                    <a href="{{url_for(get_current_menu(**params).item_type,id=item.id)}}">{{item.name}}</a>
                    <div>
                        <i class="bi bi-pencil-fill edit-btn clickable-icon"
                            data-bs-toggle="modal"
                            data-bs-target="#itemModal"
                            data-item-id="{{ item.id }}"
                            {% for attr, value in data_attrs.items() %}
                                {{ attr }}="{{ value }}"
                            {% endfor %}>
                        </i>
                        <i class="bi bi-trash3-fill clickable-icon" 
                            onclick="showConfirmationModal('{{url_for('delete_item',item_type=get_current_menu(**params).item_type, id=item.id)}}','Confirm Action','Are you sure?')">
                        </i>

                    </div>
                </div>
                <div class="card-body">
                    {# <h5 class="card-title"></h5> #}
                    <p class="card-text small">{{item.description}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}


      