<nav class="navbar navbar-expand-lg mx-2 my-2 bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <img src="{{url_for('static',filename='images/fav-big.png')}}" alt="" width="30" height="30" class="d-inline-block align-text-middle">
      Projects Manager
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link{% if 'home' in request.endpoint %} active{% endif %}"
            href="{{ url_for('home') }}">Home</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-md-auto me-2">
        {# 
        {% if g.user.role == 'admin' %}
          <!-- Admin Menu -->
          {% include "components/devtools.html" %}
          {% include "components/separator_menu.html" %}
        {% endif %} 
        #}
        <!-- User Menu -->
        {% include "components/user_menu.html" %}
        <!-- Separator -->
        {% include "components/separator_menu.html" %}
        <!-- Theme selector -->
        {% include "components/theme_menu.html" %}
      </ul>
    </div>
  </div>
</nav>