    {% if 'user' in session %}
        <li class="nav-item">
            <a href="{{ url_for('user') }}" class="nav-link d-flex">
                <i class="bi bi-gear"></i>
                <span class="d-lg-none ms-2">User Settings</span>
            </a>
        </li>
        {% include "components/separator_menu.html" %}
        <li class="nav-item">
            <a href="{{ url_for('logout') }}" class="nav-link d-flex">
                <i class="bi bi-power"></i>
                <span class="d-lg-none ms-2">Logout</span>
            </a>
        </li>
    {% else %}
        <li class="nav-item">
            <a href="{{ url_for('login') }}" class="nav-link d-flex">
            Login
            </a>
        </li>
    {% endif %}
